.contenedor {
    padding: 2rem;
    font-family: system-ui, sans-serif;
    background-color: #f4f4f9;
    border-radius: 8px;
    border: 1px solid black;
}

.titulo {
    color: #ff0000;
    font-size: 40px;
    font-weight: 700;
}

.texto {
    color: black;
    font-size: 16px;
    font-weight: 400;
}